# Build directories
build/

# ESP-IDF specific
sdkconfig
sdkconfig.old

# Các file sdkconfig phụ trợ (như trong hình của bạn)
sdkconfig.ci.*
sdkconfig.defaults.*
!sdkconfig.defaults  # Giữ lại file mặc định nếu bạn cần nó để config ban đầu

# Python compiled files
__pycache__/
*.py[cod]

# IDE files
.vscode/
.idea/